<nav class="navbar navbar-expand-lg bg-info navbar-inverse">
    <div class="container-fluid mx-5">
        <a class="navbar-brand me-5 fs-5" href="#"><h1>Flask Application</h1></a>
        <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse mi" id="navbar">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll fs-4" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Tasks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right fs-5">
                <li><a class="nav-link" href="/register">Sign up</a></li>
                <li><a class="nav-link" href="/login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>
