{% extends 'layout.html' %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="m-5 p-5 text-center">
                <h1>Welcome To King's Activities Application</h1>
                <p class="lead">Dit is de Activiteiten Applicatie van King. Het is gemaakt van flask framework</p>
                {% if session.logged_in == NULL %}
                    <a href="/register" class="btn btn-info me-3">Sign up</a>
                    <a href="/login" class="btn btn-primary">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}