{% extends 'layout.html' %}

{% block body %}
<div class="container-sm mt-5">
    <h1>Login</h1>
    {% from "includes/formhelper.html" import render_field %}
    <form action="" method="POST">
        <div class="form-group">
            <label class="mb-1">Username</label>
            <input type="text" name="username" class="form-control" value={{request.form.username}}>
        </div>
        <div class="form-group mt-2">
            <label class="mb-1">Password</label>
            <input type="password" name="password" class="form-control" value={{request.form.password}}>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
</div>
{% endblock %}