{% extends 'layout.html' %}

{% block body %}
<div class="container mt-5">
    <h1>Register</h1>
    {% from "includes/formhelper.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.name, class_="form-control mb-2")}}
        </div>
        <div class="form-group">
            {{render_field(form.username, class_="form-control mb-2")}}
        </div>
        <div class="form-group">
            {{render_field(form.email, class_="form-control mb-2")}}
        </div>
        <div class="form-group">
            {{render_field(form.password, class_="form-control mb-2")}}
        </div>
        <div class="form-group">
            {{render_field(form.confirm, class_="form-control mb-2")}} <!-- This is WTForms syntax, An underscore is added to class. -->
        </div>
        <p><input type="submit" class="btn btn-primary mt-5" value="Submit"></p>
    </form>
</div>
{% endblock %}